botcity-framework-web>=1.0,<2.0
botcity-maestro-sdk>=0.5.1,<1.0
# Uncomment to use botcity-utils
# botcity-utils>=0.1.2

# Uncomment to use botcity-crawler-plugin
# botcity-crawler-plugin

# Uncomment to use Pandas
# pandas
setuptools
distutils
pip install --upgrade undetected-chromedriver
pip install --upgrade pip setuptools wheel undetected-chromedriver
pip install --upgrade pip
pip install --upgrade selenium webdriver-manager botcity-framework-web
